*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #344966;
    text-align: center;
    background-image: url("cat.webp");
}

.newgame{
    height: 10vh;
    width: 25vh;
    border-radius: 1rem;
    background-color: #FFCAAF;
    font-size: 2rem;
    margin-left: 3vh;
    
}

h1{
    color: whitesmoke;
    margin-top: 3vh;
    margin-left: 3vh;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
}

.game-container{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 65vmin;
    width: 65vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box{
    height: 20vmin;
    width: 20vmin;
    background-color: #E6AACE;
    border-radius: 0.8rem;
    border: none;
    font-size: 10vmin;
    color: #0D1821;
}
.reset{
    height: 10vh;
    width: 25vh;
    border-radius: 1rem;
    background-color: #BFCC94;
    font-size: 2rem;
    margin-bottom: 10min;
}

.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hide{
    display: none;

} 

p{
    font-size: 4rem;
    color: #BFCC94;
}